@import './vars.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: var(--color-primary);
}

.mapboxgl-canvas {
	width: 100% !important;
	height: 100% !important;
}
